* {
    padding: 0;
    margin: 0;
    border: none;
    color: #000;
}

*, ::after, ::before {
    box-sizing: border-box;
}

a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

footer, header, main, nav {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

button {
    display: inline-block;
    box-shadow: none;
    background: transparent 0 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

button:active, button:focus {
    outline: 0;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

label {
    cursor: pointer;
}

body {
    font-family: Ubuntu, sans-serif;
    margin-top: 35px;
}

.container {
    margin: 0 auto;
    max-width: 1366px;
    width: 100%;
}

.header__logo {
    width: 50px;
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}

.header__logo:hover {
    transform: scale(1.2);
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.header {
    display: flex;
    align-items: center;
}

.header__navigation-links {
    display: flex;
    gap: 40px;
    padding-left: 150px;
}

.header__navigation-link {
    text-align: center;
}

.header__navigation-link:hover {
    text-decoration: underline;
    transform: scale(1.05);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

.headline {
    position: relative;
}

.block {
    margin-top: 100px;
}

.headline__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
    z-index: 100;
}

.headline__image {
    position: absolute;
    width: 80%;
    bottom: -80px;
    right: 0;
    z-index: -1;
}

.headline__title {
    font-size: 80px;
    font-weight: 700;
}

.headline__description {
    font-size: 18px;
    font-weight: 500;
    color: #4b5d68;
}

.headline__learn-link {
    background-color: #9c69e2;
    height: 60px;
    width: 170px;
    border-radius: 50px;
    font-weight: 800;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}

.headline__learn-link:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.about {
    display: flex;
    background: #f063b826;
    border-radius: 50px;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-top: 200px;
}

.about__text {
    width: 50%;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    color: #212353;
    margin-bottom: 40px;
}

.about__description {
    font-size: 18px;
    font-weight: 500;
    color: #4b5d68;
}

.features__text {
    text-align: center;
}

.features__title {
    font-size: 40px;
    font-weight: 700;
    color: #212353;
}

.features__description {
    font-size: 18px;
    color: #4b5d68;
    padding-top: 50px;
}

.features__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    row-gap: 80px;
}

.feature {
    height: 350px;
    position: relative;
    width: 40%;
    display: flex;
    justify-content: end;
}

.feature__main-image {
    position: absolute;
    top: 100px;
    left: -10px;
    max-width: 40%;
}

.feature__background {
    z-index: -1;
    position: absolute;
    top: 0;
}

.feature__card-text {
    width: 55%;
    padding-right: 30px;
    padding-top: 30px;
    position: relative;
}

.feature__title {
    font-size: 24px;
}

.feature__description {
    font-size: 16px;
    font-weight: 350;
    margin-top: 20px;
}

.feature__learn-link {
    position: absolute;
    display: flex;
    bottom: 30px;
    align-items: center;
    gap: 20px;
    font-weight: 800;
}

.feature__learn-link-arrow {
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}

.feature__learn-link:hover .feature__learn-link-arrow {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

.testimonials {
    background-color: #9c69e2;
    border-radius: 50px;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
}

.testimonials__title {
    font-size: 40px;
    color: #fff;
}

.testimonials__list {
    display: flex;
    gap: 60px;
    width: 200vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials__comment {
    display: flex;
    padding: 50px;
    gap: 30px;
    width: 650px;
    height: 320px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 20px 0 0 #8a56da;
}

.testimonials__non-active-comment {
    position: relative;
}

.testimonials__non-active-comment:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 1) 100%);
}

.testimonials__avatar {
    width: 90px;
    height: 90px;
}

.testimonials__description {
    margin-top: 10px;
}

.testimonials__author-link {
    color: #9c69e2;
}

.testimonials__text a:hover {
    text-decoration: underline;
}

.testimonials__author-name {
    margin-bottom: 10px;
}

.testimonials__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials__active-dot {
    background-color: #f063b8;
}

.testimonials__no-active-dot {
    background-color: #fff;
}

.testimonials__navigation-dots {
    display: flex;
    gap: 10px;
}

.testimonials__dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.testimonials__dot {
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}

.testimonials__dot:hover {
    transform: scale(1.3);
    cursor: pointer;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}


.testimonials__navigation-arrows {
    display: flex;
    gap: 20px;
}

.testimonials__right-arrow {
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}

.testimonials__right-arrow:hover {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

.testimonials__left-arrow {
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}

.testimonials__left-arrow:hover {
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
}

.separator {
    background-color: #9c69e2;
    height: 3px;
    margin-top: 100px;
}

.footer__contact-us {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer__contact-us-data {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__contact-us-header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.footer__contact-us-header-img {
    width: 50px;
}

.footer__company-name {
    font-size: 20px;
    font-weight: 800;
    padding-left: 30px;
}

.footer_contact-us_email-phone {
    display: flex;
    flex-direction: column;
    font-weight: 350;
    gap: 5px;
}

.footer__socials-media-title {
    font-weight: 800;
}

.footer__socials-media-list {
    display: flex;
    margin-top: 30px;
}

.footer__social-media_link {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: rgba(215, 215, 215, 0.94);
    border-radius: 50%;
}

.footer__copyright-text {
    padding-top: 50px;
    padding-bottom: 90px;
    font-size: 12px;
    font-weight: 350;
}

.footer__contact-us-email-phone {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__contact-us-phone-link:hover,
.footer__contact-us-email-link:hover {
    text-decoration: underline;
}

/***********************************************/

@media only screen and (max-width: 1440px) {
    .container {
        width: 90%;
    }

    .about__image {
        width: 50%;
    }

    .features__cards {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1280px) {
    .feature {
        display: flex;
    }

    .feature__learn-link {
        bottom: 80px;
    }
}

@media only screen and (max-width: 1024px) {
    .feature {
        width: 70%;
        margin: 0 auto;
    }

    .feature__main-image {
        position: relative;
        max-width: 100%;
        left: -50px;
    }

    .headline__image {
        opacity: 0.8;
        bottom: -50px;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about__text {
        width: 90%;
    }

    .about__title {
        font-size: 32px;
    }

    .about__image {
        width: 70%;
    }

    .features__title {
        font-size: 32px;
    }

    .feature__background {
        position: absolute;
        right: 0;
        top: 0;
    }

    .feature__card-text {
        width: 55%;
    }

    .testimonials__active-comment, .testimonials__non-active-comment {
        width: 500px;
    }
}

@media only screen and (max-width: 768px) {
    .feature {
        width: 100%;
    }

    .headline__title {
        font-size: 60px;
    }

    .headline__description {
        font-weight: 500;
    }

    .headline__image {
        min-width: 460px;
        bottom: -20px;
        opacity: 0.3;
    }

    .about__image {
        width: 80%;
    }

    .features__description, .about__description, .headline__description {
        font-size: 16px;
    }

    .about__title, .about__description {
        text-align: center;
    }

    .features__title, .about__title {
        font-size: 28px;
    }

    .feature__background1, .feature__background2, .feature__background3, .feature__background4 {
        border-radius: 20px;
        height: 300px;
    }

    .feature__background1 {
        background: rgb(240, 249, 248);

    }

    .feature__background2 {
        background-color: #f5f0fc;
    }

    .feature__background3 {
        background-color: #fdeff8;
    }

    .feature__background4 {
        background-color: #eaf5fc;
    }

    .feature__background-img {
        display: none;
    }

    .feature__main-image {
        position: absolute;
        opacity: 0.05;
        display: flex;
        width: 100%;
        justify-content: center;
        left: 0;
    }

    .feature__card-text {
        width: 100%;
        padding: 30px;
    }

    .feature__learn-link {
        width: 100%;
        justify-content: end;
        bottom: 30px;
        right: 30px;
    }

    .testimonials {
        padding: 40px;
    }

    .testimonials__active-comment, .testimonials__non-active-comment {
        width: 300px;
        flex-direction: column;
        padding: 20px;
        height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .footer__contact-us {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__copyright-text {
        text-align: center;
    }
}

@media only screen and (max-width: 533px) {
    .header__navigation-links {
        padding-left: 80px;
        gap: 20px;
    }

    .headline__title {
        font-size: 40px;
    }

    .headline__image {
        opacity: 0.2;
    }

    .about__image {
        width: 100%;
    }

    .testimonials__active-comment, .testimonials__non-active-comment {
        width: 220px;
        flex-direction: column;
        padding: 20px;
        height: 400px;
    }

    .testimonials__title {
        font-size: 36px;
    }
}

@media only screen and (max-width: 425px) {
    .block {
        margin-top: 50px;
    }

    .about {
        margin-top: 50px;
    }

    .features__cards {
        row-gap: 50px;
    }

    .separator {
        margin-top: 50px;
    }

    .footer__contact-us-header {
        margin: 0;
    }
}

@media only screen and (max-width: 360px) {
    .headline__title {
        font-size: 32px;
    }

    .header__navigation-linksl {
        padding-left: 30px;
    }

    .about__description, .headline__description {
        font-size: 14px;
    }

    .testimonials {
        padding: 30px;
    }

    .testimonials__active-comment, .testimonials__non-active-comment {
        width: 200px;
        flex-direction: column;
        padding: 15px;
        height: 420px;
    }

    .testimonials__title {
        font-size: 32px;
    }
}
