* {
    padding: 0;
    margin: 0;
    border: none;
    color: #000;
}

*,
::after,
::before {
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

footer,
header,
main,
nav {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

button {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: 0 0;
    cursor: pointer;
}

button:active,
button:focus {
    outline: 0;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

body {
    font-family: Ubuntu, sans-serif;
    margin-top: 35px;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.logo {
    width: 50px;
}

.logo:hover {
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 40px;
    padding-left: 150px;
}

nav ul li {
    transition: 0.3s;
    text-align: center;
}

nav ul li:hover {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.headline {
    position: relative;
}

.block {
    margin-top: 100px;
}

.headline_text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
    z-index: 100;
}

.headline__image {
    position: absolute;
    width: 70%;
    bottom: -80px;
    right: 0;
    /*opacity: 0.8;*/
    z-index: -1;
}

h1 {
    font-size: 80px;
    font-weight: 700;
}

.headline_text p {
    font-size: 18px;
    font-weight: 500;
    color: #4b5d68;
}

.learn_link {
    background-color: #9c69e2;
    height: 60px;
    width: 170px;
    border-radius: 50px;
    font-weight: 800;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.learn_link p {
    color: white;
}

#about {
    display: flex;
    background: #f063b826;
    border-radius: 50px;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-top: 200px;
}

.about_text {
    width: 50%;
}

.about_text h2 {
    font-size: 40px;
    font-weight: 700;
    color: #212353;
    margin-bottom: 40px;
}

.about_text p {
    font-size: 18px;
    font-weight: 500;
    color: #4b5d68;
}

.features_text {
    text-align: center;
}

.features_text h2 {
    font-size: 40px;
    font-weight: 700;
    color: #212353;
}

.features_text p {
    font-size: 18px;
    color: #4b5d68;
    padding-top: 50px;
}

.features_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 80px;
}

.feature {
    height: 350px;
    position: relative;
    display: flex;
    justify-content: right;
}

.feature_mainImages {
    position: absolute;
    top: 100px;
    left: -10px;
    max-width: 40%;
}

.feature_background {
    z-index: -1;
}

.feature_eclipse1 {
    position: absolute;
    top: 20px;
    right: 130px;
}

.feature_eclipse3 {
    position: absolute;
    top: 35px;
    right: 35px;
}

.feature_eclipse4 {
    position: absolute;
    bottom: 30px;
    right: 35px;
}

.feature_vector1 {
    position: absolute;
    top: 10px;
    right: 10px;
}

.feature_vector2 {
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.feature_vector4 {
    position: absolute;
    top: 20px;
    left: 50px;
}

.feature_cardText {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50%;
}

.feature_cardText h3 {
    font-size: 24px;
}

.feature_cardText p {
    font-size: 18px;
    font-weight: 300;
    padding-top: 20px;
}

.feature_learnLink {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 800;
    margin-top: 50px;
}


.feature_learnLink img {
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}

.feature_learnLink:hover img {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

.testimonials {
    background-color: #9c69e2;
    border-radius: 50px;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
}

.testimonials__title {
    font-size: 40px;
    color: #fff;
}

.testimonials_list {
    display: flex;
    gap: 60px;
    width: 2600px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials_activeComment {
    width: 650px;
    height: 320px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 20px 0 0 #8a56da;
}

.testimonials_nonActiveComment {
    width: 650px;
    height: 320px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 20px 0 0 #9368d5;
}

.testimonials__avatar {
    width: 90px;
    height: 90px;
}

.testimonials_text p {
    margin-top: 10px;
}

.testimonials_text a {
    color: #9c69e2;
}

.testimonials_text a:hover {
    text-decoration: underline;
}

.testimonials_text h4 {
    margin-bottom: 10px;
}

.testimonials_comment {
    display: flex;
    padding: 50px;
    gap: 30px;
}

.testimonials_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activeDot {
    background-color: #f063b8;
}

.noActiveDot {
    background-color: #fff;
}

.testimonials_navigation_dots {
    display: flex;
    gap: 10px;
}

.testimonials_navigation_dots div {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    column-gap: 20px;
}

.testimonials_navigation_dots div {
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}

.testimonials_navigation_dots div:hover {
    transform: scale(1.3);
    cursor: pointer;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.testimonials_nonActiveComment {
    position: relative;
}

.testimonials_nonActiveComment:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 1) 100%);
}

.testimonials_navigation_arrows {
    display: flex;
    gap: 20px;
}

.right_arrow img {
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}

.right_arrow:hover img {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

.left_arrow img {
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}

.left_arrow:hover img {
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
}

hr {
    background-color: #9c69e2;
    height: 3px;
    margin-top: 100px;
}

.footer_contactUs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer_contactUs_data {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer_contactUs_header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.footer_contactUs_header__img {
    width: 50px;
}

.footer_contactUs_header p {
    font-size: 20px;
    font-weight: 800;
    padding-left: 30px;
}

.footer_contactUs_emailPhone {
    display: flex;
    flex-direction: column;
    font-weight: 350;
    gap: 5px;
}

.footer_socialsMedia p {
    font-weight: 800;
}

.footer_socialsMediaList {
    display: flex;
    margin-top: 30px;
}

.footer_socialsMedia_link div {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: rgba(215, 215, 215, 0.94);
    border-radius: 50%;
}

.footer_copyright_text {
    padding-top: 50px;
    padding-bottom: 90px;
    font-size: 12px;
    font-weight: 350;
}

.footer_contactUs_emailPhone div a:hover {
    text-decoration: underline;
}


a .learn_link {
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}

a:hover .learn_link {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

/***********************************************/

@media only screen and (max-width: 1440px) {
    .container {
        width: 90%;
    }

    .about__image {
        width: 50%;
    }
}

@media only screen and (max-width: 1280px) {
    .feature {
        display: flex;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 80%;
    }

    .feature {
        width: 100%;
        justify-content: space-between;
    }

    .feature_mainImages {
        position: relative;
        max-width: 100%;
    }

    .headline__image {
        opacity: 0.8;
        bottom: -50px;
    }

    #about {
        flex-direction: column-reverse;
    }

    .about_text {
        width: 90%;
    }

    .about_text h2 {
        font-size: 32px;
    }

    .about__image {
        width: 70%;
    }

    #features h2 {
        font-size: 32px;
    }

    .feature_background {
        position: absolute;
        right: 0;
        top: 0;
    }

    .feature_cardText {
        width: 40%;
        right: 30px;
    }

    .feature_learnLink {
        margin-top: 40px;
    }

    .testimonials_activeComment,
    .testimonials_nonActiveComment {
        width: 500px;
    }
}

@media only screen and (max-width: 800px) {
    .headline__image {
        opacity: 0.5;
        bottom: -30px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 60px;
    }

    .headline_text p {
        font-weight: 500;
    }

    .headline__image {
        min-width: 460px;
        bottom: -20px;
        opacity: 0.3;
    }

    .about__image {
        width: 80%;
    }

    #features p,
    .about_text p,
    .headline_text p {
        font-size: 16px;
    }

    .about_text h2,
    .about_text p {
        text-align: center;
    }

    #features h2,
    .about_text h2 {
        font-size: 28px;
    }

    .feature_background1,
    .feature_background2,
    .feature_background3,
    .feature_background4 {
        border-radius: 20px;
        height: 300px;
    }

    .feature_background1 {
        background-color: #ddf0f4;
    }

    .feature_background2 {
        background-color: #f5f0fc;
    }

    .feature_background3 {
        background-color: #fdeff8;
    }

    .feature_background4 {
        background-color: #eaf5fc;
    }

    .feature_background__img {
        display: none;
    }

    .feature_mainImages {
        margin: 0 auto;
        opacity: 0.1;
    }

    .feature_cardText {
        width: 100%;
        right: 0;
        padding: 20px;
    }

    .testimonials {
        padding: 40px;
    }

    .testimonials_activeComment,
    .testimonials_nonActiveComment {
        width: 300px;
        flex-direction: column;
        padding: 20px;
        height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .footer_contactUs {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer_copyright_text {
        text-align: center;
    }
}

@media only screen and (max-width: 533px) {
    nav ul {
        padding-left: 120px;
        gap: 20px;
    }

    h1 {
        font-size: 40px;
    }

    .headline__image {
        opacity: 0.2;
    }

    .about__image {
        width: 100%;
    }

    .testimonials_activeComment,
    .testimonials_nonActiveComment {
        width: 220px;
        flex-direction: column;
        padding: 20px;
        height: 400px;
    }

    .testimonials__title {
        font-size: 36px;
    }
}

@media only screen and (max-width: 360px) {
    h1 {
        font-size: 32px;
    }

    nav ul {
        padding-left: 30px;
    }

    .about_text p,
    .headline_text p {
        font-size: 14px;
    }

    .feature_learnLink {
        margin-top: 20px;
    }

    .testimonials {
        padding: 30px;
    }

    .testimonials_activeComment,
    .testimonials_nonActiveComment {
        width: 200px;
        flex-direction: column;
        padding: 15px;
        height: 420px;
    }

    .testimonials__title {
        font-size: 32px;
    }
}
